<MudDialog>

    <DialogContent>
        <MudContainer Class="m-0 p-0">

            <MudGrid>
                <MudItem xs="12">
                    <div class="d-flex flex-grow-1 gap-4">
                        <MudTextField @bind-Value="_cotizacion.FechaRegistro" Label="Fecha Registro" Variant="Variant.Outlined" ReadOnly="true" Margin="Margin.Dense"></MudTextField>
                        <MudTextField @bind-Value="_cotizacion.NumeroDocumentoCotizacion" Label="Numero Cotizacion" Variant="Variant.Outlined" ReadOnly="true" Margin="Margin.Dense"></MudTextField>
                        <MudTextField @bind-Value="_cotizacion.TipoPago" Label="Tipo de Pago" Variant="Variant.Outlined" ReadOnly="true" Margin="Margin.Dense"></MudTextField>
                        <MudTextField @bind-Value="_cotizacion.Total" Label="Total" Variant="Variant.Outlined" ReadOnly="true" Margin="Margin.Dense"></MudTextField>
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <MudText>Lista de productos</MudText>
                </MudItem>
                <MudItem xs="12">
                    <MudDataGrid Items="@_cotizacion.Detallecotizacion" Dense="true" Striped="true">
                        <Columns>
                            <PropertyColumn Property="x => x.DescripcionProducto" Title="Producto" />
                            <PropertyColumn Property="x => x.CantidadInventario" Title="Cantidad" />
                            <PropertyColumn Property="x => x.Precio" />
                            <PropertyColumn Property="x => x.Total" />
                        </Columns>
                    </MudDataGrid>
                </MudItem>
            </MudGrid>

        </MudContainer>

    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Cerrar">Volver</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public CotizacionDTO _cotizacion { get; set; } = new CotizacionDTO();

    private void Cerrar()
    {
        MudDialog.Cancel();
    }
}
